@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./Public/Fonts/HelveticaNeueLTW0693BlkExtObl.otf) format('opentype');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-image: url("./Components/Auth/background.webp");
  background-size: cover;
  box-sizing: border-box;
}

.react-input-emoji--container {
  border-radius: 0px !important;
  background: none !important;
  overflow: auto;
}

.send-message {
  max-height: 36px;
  margin-top: 0px;
  width: 100%;
}

.react-input-emoji--input {
  max-height: 32px !important;
  box-sizing: border-box !important;
  overflow-y: auto !important;
}

.react-input-emoji--input::-webkit-scrollbar {
  display: none;
}

.leftuser-chat {
  display: flex;
  flex-direction: row-reverse;
}

.rihgtuser-chat {
  display: flex;
}

.right-avt {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.left-avt {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-msg {
  /* background-color: #f5f7fb; */
  padding: 8px;
  border-radius: 10px;
  margin: 3px;
}

.right-msg {
  background-color: #7884ff;
  padding: 8px;
  border-radius: 10px;
  margin: 3px;
}

.left-msg p {
  margin: 0px;
}

.right-msg p {
  margin: 0px;
  color: white;
}

.blank-div {
  margin: 20px;
}

.start-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.start-msg div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start-msg p {
  color: #7a7f9a;
  margin: 0px;
}

.group-people-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.group-people {
  display: flex;
  align-items: center;
  gap: 10px;
}

svg {
  cursor: pointer;
}